[build]
  command = "npm run build:force"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
for = "/*.js"
[headers.values]
  "Content-Type" = "application/javascript"

[[headers]]
  for = "/*.ts"
  [headers.values]
    "Content-Type" = "application/typescript"

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Methods = "GET, POST, PUT, DELETE, OPTIONS"
    Access-Control-Allow-Headers = "Content-Type, Authorization"